<configuration>

    <!-- Console appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- General App Log (everything goes here) -->
    <appender name="AppFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/edutarget-sports.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/edutarget-sports-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- UserService log file -->
    <appender name="UserServiceFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/userRegistration-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/userRegistration-service-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- StudentService log file -->
<!--    <appender name="StudentServiceFile" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>logs/student-service.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>logs/student-service-%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            <maxHistory>30</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!-- Root logger (everything goes to console + app log) -->
    <root level="info">
        <appender-ref ref="Console" />
        <appender-ref ref="AppFile" />
    </root>

    <!-- Logger for UserService -->
    <logger name="com.edutarget.edutargetSports.service.UserService" level="info" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="UserServiceFile"/>
    </logger>

    <!-- Logger for StudentService -->
<!--    <logger name="com.edutarget.edutargetSports.service.StudentService" level="info" additivity="false">-->
<!--        <appender-ref ref="Console"/>-->
<!--        <appender-ref ref="StudentServiceFile"/>-->
<!--    </logger>-->

</configuration>
